body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
}
.secao {
    width: 800px;
    margin: 200px auto;
    text-align: center;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}
#seconds, #tens {
    font-size: 2em;
}
button {
    border: solid 1px ;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}
button:hover{
    background-color: rgb(23, 219, 219);
}
.p-criador{
    margin-top: 90px;
    font-size: 14px;
}
@media(max-width: 530px){
    button{
        display: block;
        margin: auto;
    }
    #button-start{
        margin-bottom: 10px;
    }
    #button-stop{
        margin-bottom: 10px;
    }
    #button-reset{
        margin-bottom: 10px;
    }
}